
{% extends 'template.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% if notification is defined %}
Notification: {{ notification | safe }}
{% endif %}

<h1 class="title is-1">Hello there,</h1>    
<h1 class="subtitle">Current Cookie: {{ cookie_value }}</h1> 
<h1 class="title is-6">
    {% for msg in msgs %}
        {{ msg | safe }}
    {% endfor %}
</h1>
<form method="POST" name="form" action="{{ url_for('post_msg') }}">
    <div class="field">
        <label class="label">Update your secret messages!</label>
        <p class="control">
            <textarea class="textarea" name="msg" placeholder="message"></textarea>
        </p>
    </div>

    <button type="submit" name="submit" class="button is-success is-medium is-centered">Submit</button>
</form>


{% endblock %}